// bg colors
$bg-dark: #0E0E0E;
$bg-white: #fff;
$bg-gray: #F5F5F5;
// colors
$txt-color-dark: #0E0E0E;
$txt-color-light: #fff;
// font family
$ff-body: 'Inter', sans-serif;
// font sizes
$fz-standard: 1rem;
$fz-14: .875rem;
$fz-18: 1.125rem;
$fz-20: 1.25rem;
$fz-h1: 4rem;
$fz-h2: 2.25rem;
// line heights
$lh-standard: 1.625rem;
$lh-more: 1.825rem;
// font weights
$fw-standard: 400;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 900;
//breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
// border radius
$border-radius: .25rem;
$border-radius-sm: .5rem;
$border-radius-lg: .75rem;
$border-radius-xl: 1rem;
// icons
$icon-padding: 15px;
$icon-font-size: 16px;
$icon-font-weight: normal;
$icon-border-radius: 50%;
$icon-margin-bottom: 15px;
// header
$header-primary-fz: 3.5rem;
$header-primary-lh: 5rem;
$header-minory-fz: 1rem;
$header-minory-lh: 1.5rem;
$header-padding: 70px 30px;
// btn
$fw-btn: 500;
$border-radius-btn: 3rem;
$padding-btn: 12px 20px;
// paddings
$padding: 10px 30px;


