.container {
    background-color: $bg-dark;
    min-height: auto;
    width: 100%;
    &--template {
        background-color: $bg-white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &--carousel {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
}