.heading {
    $minory-padding: 50px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: $txt-color-light;
    padding: $header-padding;
    &__primary {
        font-size: $header-primary-fz;
        line-height: $header-primary-lh;
        &--template {
            font-size: $fz-h2;
            font-weight: $fw-bold;
        }
    }
    &__minory {
        font-size: $header-minory-fz;
        line-height: $header-minory-lh;
        text-align: center;
        &--template {
            font-size: $fz-20;
            padding: $minory-padding;
        }
    }
    &--template {
        color: $txt-color-dark;
    }
}